@charset "utf-8";
/* CSS Document */

body
{
	font-family: Georgia, "Times New Roman", Times, serif;
}

table
{
	font-family: Georgia, "Times New Roman", Times, serif;
	border-style: none;
}

td, th
{
	border-style: solid;
}

#statusbar
{
	width: 99%;
}

